.homeContainer {
  display: flex;
  flex-direction: row;
  padding: 8% 40px;
}

.firstContainer {
  width: 55%;
}

.homeTitle {
  text-align: center;
  margin-bottom: 80px;
  font-size: 2.5em;
}

.secondContainer {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.inputsRoom {
  width: 70%;
  margin: auto;
}

.joinPart {
  display: flex;
  width: 100%; 
}

.buttonsPart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.plusButton {
  display: inline-block;
  height: 10px;
  min-width: 60px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 0px;
  text-align: center;
}

.joinButton {
  width: 100%;
}

.joinButton span {
  text-align: center;
  width: 100%;
}

@media (max-width: 950px) {
  .homeContainer {
    padding: 8% 10px;
  }
}

@media (max-width: 800px) {
  .homeContainer {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .firstContainer {
    width: 100%;
  }

  .secondContainer {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .homeTitle {
    font-size: 2.2em;
  }

  .inputsRoom {
    width: 90%;
  }
}